            <!-- Section: home -->
<section id="home" class="divider">
    <div class="fullwidth-carousel">
        <div class="carousel-item bg-img-cover" data-bg-img="/Content/MainTemplate/images/bg/bg5.jpg">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container pt-200 pb-200">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="bg-white-transparent text-center pt-20 pb-50 outline-border">
                                    <h1 class="text-black-555 text-uppercase font-54">Health <span class="text-theme-colored">Care</span></h1>
                                    <h5 class="text-black-555 font-weight-400">Every day we bring hope to millions of children in the world's <br>hardest places as a sign of God's unconditional love.</h5>
                                    <a class="btn btn-colored btn-theme-colored btn-flat smooth-scroll-to-target mt-15" href="#donate-now">Donate Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item bg-img-cover" data-bg-img="/Content/MainTemplate/images/bg/bg2.jpg">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container pt-200 pb-200">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="bg-white-transparent text-center pt-20 pb-50 outline-border">
                                    <h1 class="text-black-555 text-uppercase font-54">Health <span class="text-theme-colored">Care</span></h1>
                                    <h5 class="text-black-555 font-weight-400">Every day we bring hope to millions of children in the world's <br>hardest places as a sign of God's unconditional love.</h5>
                                    <a class="btn btn-colored btn-theme-colored btn-flat smooth-scroll-to-target mt-15" href="#donate-now">Donate Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item bg-img-cover" data-bg-img="/Content/MainTemplate/images/bg/bg3.jpg">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container pt-200 pb-200">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="bg-white-transparent text-center pt-20 pb-50 outline-border">
                                    <h1 class="text-black-555 text-uppercase font-54">Health <span class="text-theme-colored">Care</span></h1>
                                    <h5 class="text-black-555 font-weight-400">Every day we bring hope to millions of children in the world's <br>hardest places as a sign of God's unconditional love.</h5>
                                    <a class="btn btn-colored btn-theme-colored btn-flat smooth-scroll-to-target mt-15" href="#donate-now">Donate Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Welcome -->
<section>
    <div class="container pb-0 pt-110">
        <div class="row equal-height-inner">
            <div class="col-md-4 mb-sm-60">
                <div class="feature-icon-box p-30">
                    <div class="feature-icon bg-theme-colored">
                        <i class="fa fa-heartbeat text-white font-30"></i>
                    </div>
                    <h6 class="text-uppercase">quick help</h6>
                    <h4 class="text-uppercase">Emergency Case</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis id explicabo quam quo nisi nihil ducimus, possimus, in aperiam, optio repellat commodi labore. Explicabo quam dolor sit.</p>
                    <a href="#" class="btn p-0 mt-15 font-13">Contact Now <i class="fa fa-angle-double-right ml-5"></i></a>
                </div>
            </div>
            <div class="col-md-4 mb-sm-60">
                <div class="feature-icon-box p-30">
                    <div class="feature-icon bg-theme-colored">
                        <i class="fa fa-user-md text-white font-30"></i>
                    </div>
                    <h6 class="text-uppercase">Meet Our Doctors</h6>
                    <h4 class="text-uppercase">Doctors time table</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis id explicabo quam quo nisi nihil ducimus, possimus, in aperiam, optio repellat commodi labore. Explicabo quam dolor sit.</p>
                    <a href="#" class="btn p-0 mt-15 font-13">Read More <i class="fa fa-angle-double-right ml-5"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-icon-box p-30 pb-0">
                    <div class="feature-icon bg-theme-colored">
                        <i class="fa fa-clock-o text-white font-30"></i>
                    </div>
                    <h6 class="text-uppercase">Medinova 24/7 Emergency service</h6>
                    <h4 class="text-uppercase mb-5">Opening Hours</h4>
                    <div class="widget mb-0">
                        <div class="opening-hourse">
                            <ul class="list-unstyled">
                                <li class="clearfix">
                                    <span> Monday - Friday </span>
                                    <div class="value"> 9.00 - 20.00 </div>
                                </li>
                                <li class="clearfix">
                                    <span> Saturday </span>
                                    <div class="value"> 10.00 - 16.00 </div>
                                </li>
                                <li class="clearfix">
                                    <span> Sunday </span>
                                    <div class="value"> 9.30 - 18.00 </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="mt-0 pt-10">Just make an appointment to get help from our experts</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Services -->
<section class="text-center">
    <div class="container pb-10">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase mt-0">Services</h2>
                    <div class="title-icon">
                        <img class="mb-10" src="~/Content/MainTemplate/images/title-icon.png" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row features-style1 mt-20">
                <div class="col-sm-4">
                    <div class="icon-box left media p-0">
                        <a href="#" class="media-left pull-left"><i class="icon-ambulance14 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Emergency Care</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box left media p-0">
                        <a href="#" class="media-left pull-left"><i class="icon-illness text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Operation Theatre</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box left media p-0">
                        <a href="#" class="media-left pull-left"><i class="icon-stethoscope10 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Outdoor Checkup</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box left media p-0">
                        <a href="#" class="media-left pull-left"><i class="icon-medical51 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Cancer Service</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box left media p-0">
                        <a href="#" class="media-left pull-left"><i class="icon-hospital35 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Blood Test</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box left media p-0">
                        <a href="#" class="media-left pull-left"><i class="icon-tablets9 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Pharmacy</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Specialities -->
<section class="divider parallax layer-overlay overlay-deep" data-bg-img="/Content/MainTemplate/images/bg/bg1.jpg">
    <div class="container pb-80">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase mt-0">Our Specialities</h2>
                    <div class="title-icon">
                        <img class="mb-10" src="~/Content/MainTemplate/images/title-icon.png" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
                </div>
            </div>
        </div>
        <div class="section-centent">
            <div class="row">
                <div class="col-md-12">
                    <div class="services-tab border-10px bg-white-light">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab11" data-toggle="tab"><i class="icon-xray2"></i>Orthopaedics</a></li>
                            <li><a href="#tab12" data-toggle="tab"><i class="icon-heart36"></i>Cardiology</a></li>
                            <li><a href="#tab13" data-toggle="tab"><i class="icon-brain9"></i>Neurology</a></li>
                            <li><a href="#tab14" data-toggle="tab"><i class="icon-teeth1"></i>Dental</a></li>
                            <li><a href="#tab15" data-toggle="tab"><i class="icon-hospital35"></i>Haematology</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab11">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="thumb">
                                            <img class="img-fullwidth" src="~/Content/MainTemplate/images/services/1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="service-content">
                                            <h3 class="sub-title mb-0 mt-30">Services</h3>
                                            <h1 class="title mt-0">Orthopaedics</h1>
                                            <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                            <div class="row mt-30 mb-20">
                                                <div class="col-xs-6">
                                                    <ul class="mt-10">
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Qualified Doctors</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;24×7 Emergency Services</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;General Medical</li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-6">
                                                    <ul class="mt-10">
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Feel like Home Services</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Outdoor Checkup</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Easy and Affordable Billing</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <a class="btn btn-lg btn-dark btn-theme-colored" href="#">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab12">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="thumb">
                                            <img class="img-fullwidth" src="~/Content/MainTemplate/images/services/2.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="service-content">
                                            <h3 class="sub-title mb-0 mt-30">Services</h3>
                                            <h1 class="title mt-0">Cardiology</h1>
                                            <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                            <div class="row mt-30 mb-20">
                                                <div class="col-xs-6">
                                                    <ul class="mt-10">
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Qualified Doctors</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;24×7 Emergency Services</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;General Medical</li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-6">
                                                    <ul class="mt-10">
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Feel like Home Services</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Outdoor Checkup</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Easy and Affordable Billing</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <a class="btn btn-lg btn-dark btn-theme-colored" href="#">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab13">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="thumb">
                                            <img class="img-fullwidth" src="~/Content/MainTemplate/images/services/3.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="service-content">
                                            <h3 class="sub-title mb-0 mt-30">Services</h3>
                                            <h1 class="title mt-0">Neurology</h1>
                                            <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                            <div class="row mt-30 mb-20">
                                                <div class="col-xs-6">
                                                    <ul class="mt-10">
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Qualified Doctors</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;24×7 Emergency Services</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;General Medical</li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-6">
                                                    <ul class="mt-10">
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Feel like Home Services</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Outdoor Checkup</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Easy and Affordable Billing</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <a class="btn btn-lg btn-dark btn-theme-colored" href="#">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab14">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="thumb">
                                            <img class="img-fullwidth" src="~/Content/MainTemplate/images/services/4.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="service-content">
                                            <h3 class="sub-title mb-0 mt-30">Services</h3>
                                            <h1 class="title mt-0">Dental</h1>
                                            <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                            <div class="row mt-30 mb-20">
                                                <div class="col-xs-6">
                                                    <ul class="mt-10">
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Qualified Doctors</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;24×7 Emergency Services</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;General Medical</li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-6">
                                                    <ul class="mt-10">
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Feel like Home Services</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Outdoor Checkup</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Easy and Affordable Billing</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <a class="btn btn-lg btn-dark btn-theme-colored" href="#">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab15">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="thumb">
                                            <img class="img-fullwidth" src="~/Content/MainTemplate/images/services/5.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="service-content">
                                            <h3 class="sub-title mb-0 mt-30">Services</h3>
                                            <h1 class="title mt-0">Haematology</h1>
                                            <p>One Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, iste, architecto ullam tenetur quia nemo ratione tempora consectetur quos minus ut quo nulla ipsa aliquid neque molestias et qui sunt. Odit, molestiae.</p>
                                            <div class="row mt-30 mb-20">
                                                <div class="col-xs-6">
                                                    <ul class="mt-10">
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Qualified Doctors</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;24×7 Emergency Services</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;General Medical</li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-6">
                                                    <ul class="mt-10">
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Feel like Home Services</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Outdoor Checkup</li>
                                                        <li class="mb-10"><i class="fa fa-angle-double-right text-theme-colored font-15"></i>&emsp;Easy and Affordable Billing</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <a class="btn btn-lg btn-dark btn-theme-colored" href="#">View Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Features -->
<section>
    <div class="container-fluid pt-0 pb-0">
        <div class="row equal-height">
            <div class="col-md-4 bg-img-cover sm-height-auto" data-bg-img="/Content/MainTemplate/images/bg/bg4.jpg"></div>
            <div class="col-md-4 bg-theme-colored sm-height-auto">
                <div class="p-60">
                    <h3 class="text-white mb-20 mt-0">Our Facilities</h3>
                    <ul class="list list-white check font-15">
                        <li><a class="text-white" href="#">Outpatient Rehabilitation</a></li>
                        <li><a href="#">Surgery & Transplants</a></li>
                        <li><a href="#">Gynaecological Clinic</a></li>
                        <li><a href="#">Primary Health Care</a></li>
                        <li><a href="#">Emergancy / Critical Care</a></li>
                        <li><a href="#">Outdoor Services</a></li>
                        <li><a href="#">Feel like Home Services</a></li>
                    </ul>
                    <a href="#" class="btn btn-default btn-lg btn-circled mt-20">view details</a>
                </div>
            </div>
            <div class="col-md-4 p-0 bg-img-cover sm-height-auto" data-bg-img="/Content/MainTemplate/images/bg/bg6.jpg">
                <div class=" mb-sm-60 p-60">
                    <h3 class="mb-20 mt-0">Reservation</h3>
                    <form id="booking_form" name="booking_form" class="booking-form" method="post" action="http://thememascot.net/demo/html/health-beauty/medical/medinova-html/v3.2/demo/includes/booking.php">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter Name" id="booking_name" name="booking_name" required="" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Email" id="booking_email" name="booking_email" class="form-control" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Phone" id="booking_phone" name="booking_phone" class="form-control" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" placeholder="Date" id="booking_date" name="booking_date" class="form-control date-picker" required="">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="styled-select">
                                        <select id="depertment_post" name="depertment_post" class="form-control" required="">
                                            <option>Depertment</option>
                                            <option>Outpatient Rehabilitation</option>
                                            <option>Surgery & Transplants</option>
                                            <option>Gynaecological Clinic</option>
                                            <option>Emergancy / Critical Care</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group mb-0">
                                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                    <button type="submit" class="btn btn-colored btn-theme-colored btn-lg btn-submit" data-loading-text="Please wait...">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Booking Form Validation-->
                    <script type="text/javascript">
                        $("#booking_form").validate({
                            submitHandler: function (form) {
                                var form_btn = $(form).find('button[type="submit"]');
                                var form_result_div = '#form-result';
                                $(form_result_div).remove();
                                form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                                var form_btn_old_msg = form_btn.html();
                                form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                                $(form).ajaxSubmit({
                                    dataType: 'json',
                                    success: function (data) {
                                        if (data.status == 'true') {
                                            $(form).find('.form-control').val('');
                                        }
                                        form_btn.prop('disabled', false).html(form_btn_old_msg);
                                        $(form_result_div).html(data.message).fadeIn('slow');
                                        setTimeout(function () { $(form_result_div).fadeOut('slow') }, 6000);
                                    }
                                });
                            }
                        });
                    </script>
                    <!-- Booking Form Ends -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Doctors -->
<section>
    <div class="container pb-20">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase mt-0">Our Doctors</h2>
                    <div class="title-icon">
                        <img class="mb-10" src="~/Content/MainTemplate/images/title-icon.png" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row multi-row-clearfix">
                <div class="col-sm-6 col-md-3 mb-60 sm-text-center">
                    <div class="team maxwidth400">
                        <div class="thumb"><img class="img-fullwidth" src="~/Content/MainTemplate/images/team/team1.jpg" alt=""></div>
                        <div class="content border-1px p-15 bg-white-light">
                            <h4 class="name mb-0 mt-0">Dr. Smile Jhon</h4>
                            <h6 class="title mt-0">Orthopaedics</h6>
                            <p class="mb-30">Lorem ipsum dolor sit amet, con amit sectetur adipisicing elit.</p>
                            <ul class="social-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <a class="btn btn-theme-colored btn-sm pull-right flip" href="http://172.16.1.1:8002/index.php?zone=students&amp;redirurl=http%3A%2F%2Fthememascot.net%2Fdemo%2Fhtml%2Fhealth-beauty%2Fmedical%2Fmedinova-html%2Fv3.2%2Fdemo%2Fpage-doctor-details.html">view details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-60 sm-text-center">
                    <div class="team maxwidth400">
                        <div class="thumb"><img class="img-fullwidth" src="~/Content/MainTemplate/images/team/team2.jpg" alt=""></div>
                        <div class="content border-1px p-15 bg-white-light">
                            <h4 class="name mb-0 mt-0">Dr. Mark Jacobson</h4>
                            <h6 class="title mt-0">Cardiology</h6>
                            <p class="mb-30">Lorem ipsum dolor sit amet, con amit sectetur adipisicing elit.</p>
                            <ul class="social-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <a class="btn btn-theme-colored btn-sm pull-right flip" href="http://172.16.1.1:8002/index.php?zone=students&amp;redirurl=http%3A%2F%2Fthememascot.net%2Fdemo%2Fhtml%2Fhealth-beauty%2Fmedical%2Fmedinova-html%2Fv3.2%2Fdemo%2Fpage-doctor-details.html">view details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-60 sm-text-center">
                    <div class="team maxwidth400">
                        <div class="thumb"><img class="img-fullwidth" src="~/Content/MainTemplate/images/team/team3.jpg" alt=""></div>
                        <div class="content border-1px p-15 bg-white-light">
                            <h4 class="name mb-0 mt-0">Dr. Jaka Alex</h4>
                            <h6 class="title mt-0">Neurology</h6>
                            <p class="mb-30">Lorem ipsum dolor sit amet, con amit sectetur adipisicing elit.</p>
                            <ul class="social-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <a class="btn btn-theme-colored btn-sm pull-right flip" href="http://172.16.1.1:8002/index.php?zone=students&amp;redirurl=http%3A%2F%2Fthememascot.net%2Fdemo%2Fhtml%2Fhealth-beauty%2Fmedical%2Fmedinova-html%2Fv3.2%2Fdemo%2Fpage-doctor-details.html">view details</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-60 sm-text-center">
                    <div class="team maxwidth400">
                        <div class="thumb"><img class="img-fullwidth" src="~/Content/MainTemplate/images/team/team4.jpg" alt=""></div>
                        <div class="content border-1px p-15 bg-white-light">
                            <h4 class="name mb-0 mt-0">Dr. Alex Davidson</h4>
                            <h6 class="title mt-0">Haematology</h6>
                            <p class="mb-30">Lorem ipsum dolor sit amet, con amit sectetur adipisicing elit.</p>
                            <ul class="social-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <a class="btn btn-theme-colored btn-sm pull-right flip" href="http://172.16.1.1:8002/index.php?zone=students&amp;redirurl=http%3A%2F%2Fthememascot.net%2Fdemo%2Fhtml%2Fhealth-beauty%2Fmedical%2Fmedinova-html%2Fv3.2%2Fdemo%2Fpage-doctor-details.html">view details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Testimonials -->
<section class="parallax layer-overlay overlay-light" data-stellar-background-ratio="0.5" data-bg-img="/Content/MainTemplate/images/bg/bg3.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial style1 testimonial-carousel-3col owl-nav-top mt-50">
                    <div class="item">
                        <div class="comment">
                            <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                        </div>
                        <div class="content mt-20">
                            <div class="thumb pull-right">
                                <img class="img-circle" alt="" src="~/Content/MainTemplate/images/testimonials/s1.jpg">
                            </div>
                            <div class="patient-details text-right pull-right mr-20 mt-10">
                                <h5 class="author">Jonathan Smith</h5>
                                <h6 class="title">cici inc.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                        </div>
                        <div class="content mt-20">
                            <div class="thumb pull-right">
                                <img class="img-circle" alt="" src="~/Content/MainTemplate/images/testimonials/s2.jpg">
                            </div>
                            <div class="patient-details text-right pull-right mr-20 mt-10">
                                <h5 class="author">Jonathan Smith</h5>
                                <h6 class="title">cici inc.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="comment">
                            <p>Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                        </div>
                        <div class="content mt-20">
                            <div class="thumb pull-right">
                                <img class="img-circle" alt="" src="~/Content/MainTemplate/images/testimonials/s3.jpg">
                            </div>
                            <div class="patient-details text-right pull-right mr-20 mt-10">
                                <h5 class="author">Jonathan Smith</h5>
                                <h6 class="title">cici inc.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: News -->
<section>
    <div class="container pb-100">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase mt-0">News</h2>
                    <div class="title-icon">
                        <img class="mb-10" src="~/Content/MainTemplate/images/title-icon.png" alt="">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row multi-row-clearfix">
                <div class="blog-posts">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <article class="post style1 border-1px clearfix maxwidth500">
                            <div class="col-md-12 p-0">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <img src="~/Content/MainTemplate/images/blog/1.jpg" alt="" class="img-responsive img-fullwidth">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 p-0">
                                <div class="entry-content p-30">
                                    <h5 class="entry-title mt-0 pt-0"><a href="#">Different types of stroke</a></h5>
                                    <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                                    <div class="entry-meta pull-left flip mt-10">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                                            <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                                        </ul>
                                    </div>
                                    <a class="text-theme-colored mt-10 mb-0 pull-right flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <article class="post style1 border-1px clearfix maxwidth500">
                            <div class="col-md-12 p-0">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <img src="~/Content/MainTemplate/images/blog/2.jpg" alt="" class="img-responsive img-fullwidth">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 p-0">
                                <div class="entry-content p-30">
                                    <h5 class="entry-title mt-0 pt-0"><a href="#">Different types of stroke</a></h5>
                                    <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                                    <div class="entry-meta pull-left flip mt-10">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                                            <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                                        </ul>
                                    </div>
                                    <a class="text-theme-colored mt-10 mb-0 pull-right flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <article class="post style1 border-1px clearfix maxwidth500">
                            <div class="col-md-12 p-0">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <img src="~/Content/MainTemplate/images/blog/3.jpg" alt="" class="img-responsive img-fullwidth">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 p-0">
                                <div class="entry-content p-30">
                                    <h5 class="entry-title mt-0 pt-0"><a href="#">Different types of stroke</a></h5>
                                    <p>Lorem ipsum dolor adipisicing amet, consectetur sit elit. Aspernatur incidihil quo officia.</p>
                                    <div class="entry-meta pull-left flip mt-10">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-thumbs-o-up mr-5"></i> 13</li>
                                            <li><i class="fa fa-comments-o mr-5"></i> 43</li>
                                        </ul>
                                    </div>
                                    <a class="text-theme-colored mt-10 mb-0 pull-right flip" href="#">Read more <i class="fa fa-angle-double-right"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>