
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inner-header divider layer-overlay overlay-deep" data-bg-img="images/bg/bg5.jpg">
    <div class="container pt-90 pb-50">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 xs-text-center">
                    <h1>ARE YOU A :</h1>
                      
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Blog -->
<section>
    <div class="container-fluid mt-30 mb-30 pt-30 pb-30">
        <div class="row blog-posts">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <a href="~/Home/RegisterDoctor">
                <article class="post style1 clearfix maxwidth500">
                    <div class="col-md-12 p-0">
                        <div class="entry-header">
                            <div class="post-thumb">
                                <img src="~/Content/MainTemplate/images/blog/1.jpg" alt="" class="img-responsive img-fullwidth">
                            </div>
                            <div class="entry-date entry-date-absolute">
                                Doctor
                            </div>
                        </div>
                    </div>
                </article>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <a href="~/Home/RegisterDoctor">
                <article class="post style1 clearfix maxwidth500">
                    <div class="col-md-12 p-0">
                        <div class="entry-header">
                            <div class="post-thumb">
                                <img src="~/Content/MainTemplate/images/blog/2.jpg" alt="" class="img-responsive img-fullwidth">
                            </div>
                            <div class="entry-date entry-date-absolute">
                                Patient
                            </div>
                        </div>
                    </div>

                </article>
                    </a>
            </div>
        </div>

    </div>
</section>
