<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- Mirrored from thememascot.net/demo/html/health-beauty/medical/medinova-html/v3.2/demo/form-job-apply-style2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Nov 2018 18:51:58 GMT -->
<head>

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Medinova - Health & Medical HTML Template" />
    <meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
    <meta name="author" content="ThemeMascot" />

    <!-- Page Title -->
    <title>Medinova - Health & Medical HTML Template</title>

    <!-- Favicon and Touch Icons -->
    <link href="~/Content/MainTemplate/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="~/Content/MainTemplate/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/Content/MainTemplate/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/Content/MainTemplate/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/Content/MainTemplate/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="~/Content/MainTemplate/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/MainTemplate/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/MainTemplate/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/Content/MainTemplate/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="~/Content/MainTemplate/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="~/Content/MainTemplate/css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="~/Content/MainTemplate/css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="~/Content/MainTemplate/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="~/Content/MainTemplate/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
     <!-- <link href="~/Content/MainTemplate/css/style.css" rel="stylesheet" type="text/css"> -->
    <!-- CSS | Theme Color -->
    <link href="~/Content/MainTemplate/css/colors/theme-skin-blue.css" rel="stylesheet" type="text/css">

    <!-- external javascripts -->
    <script src="~/Content/MainTemplate/js/jquery-2.2.0.min.js"></script>
    <script src="~/Content/MainTemplate/js/jquery-ui.min.js"></script>
    <script src="~/Content/MainTemplate/js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="~/Content/MainTemplate/js/jquery-plugin-collection.js"></script>

 
</head>
<body class="">
    <div id="wrapper">
        <!-- preloader -->
        <div id="preloader">
            <div id="spinner">
                <img src="/Content/MainTemplate/images/preloaders/1.gif" alt="">
            </div>
            <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
        </div>

        <!-- start main-content -->
        <div class="main-content">
            <!-- Section: home -->
            <section id="home" class="divider parallax layer-overlay"  data-bg-img="/Content/MainTemplate/images/bg/bg1.jpg">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-push-3">
                                    <div class="text-center mb-60">
                                        <a href="#" class=""><img alt="" src="/Content/MainTemplate/images/logo-wide.png"></a>
                                    </div>
                                    <div class="bg-lightest border-1px p-30 mb-0">
                                        <h3 class="text-theme-colored mt-0 pt-5"> Apply Now</h3>
                                        <hr>
                                        <p>Lorem ipsum dolor sit amet, consectetur elit.</p>
                                        <div class="main-content">
                                            @RenderBody()
                                        </div>

                                   
                                        
                                        <script type="text/javascript">
                    $("#job_apply_form").validate({
                      submitHandler: function(form) {
                        var form_btn = $(form).find('button[type="submit"]');
                        var form_result_div = '#form-result';
                        $(form_result_div).remove();
                        form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                        var form_btn_old_msg = form_btn.html();
                        form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                        $(form).ajaxSubmit({
                          dataType:  'json',
                          success: function(data) {
                            if( data.status == 'true' ) {
                              $(form).find('.form-control').val('');
                            }
                            form_btn.prop('disabled', false).html(form_btn_old_msg);
                            $(form_result_div).html(data.message).fadeIn('slow');
                            setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                          }
                        });
                      }
                    });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- end main-content -->
        <!-- Footer -->
        <footer id="footer" class="footer text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="mb-0">Copyright ©2015 Medinova. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->
    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="~/Content/MainTemplate/js/custom.js"></script>

</body>

<!-- Mirrored from thememascot.net/demo/html/health-beauty/medical/medinova-html/v3.2/demo/form-job-apply-style2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Nov 2018 18:51:58 GMT -->
</html>

